.modal__container-details-charge {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #919a964d;
  position: fixed;
  z-index: 3;
  backdrop-filter: blur(2px);
}

.modal__box-details-charge {
  display: flex;
  width: 600px;
  height: 461px;
  border-radius: 30px;
  background: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  transition: opacity 0.3s ease;
  padding: 50px;
}

.header__container-details-charge {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.icon_close-details-charge {
  position: absolute;
  border: none;
  background-color: #fff;
  margin-left: 140px;
  cursor: pointer;
  right: 700px;
  top: 260px;
}

.modal__box-details-charge h3 {
  color: #343447;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* margin: 0px 0px 10px 0px; */
}

.modal__box-details-charge p {
  color: #3f3f55;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}
.details-charge-info p:first-child,
.details-charge-info-dif p:first-child {
  font-weight: 700;
}
.container__details-charge-info {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.container__details-charge-info-dif {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.details-charge-info-dif {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container__details-charge-info-extra {
  display: flex;
  gap: 150px;
}
.details-charge-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container1-details,
.container2-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details-desc {
  max-height: 4.0em; 
  overflow-y: scroll;
}
.details-desc::-webkit-scrollbar {
  width: 4px; 
}

.details-desc::-webkit-scrollbar-thumb {
  background-color: #667085;; 
  border-radius: 4px; 
}

.details-desc::-webkit-scrollbar-thumb:hover {
  background-color: #667085;; 
}

.status-vencida {
  border-radius: 8px;
  color: #971d1d;
  background: #ffefef ;
  display: flex;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  height: 19px;
  width: 100px;
  font-size: 14px;
}
.status-pendente {
  border-radius: 8px;
  color: #c5a605;
  background: #fcf6dc;
  display: flex;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 19px;
  width: 100px;
  font-size: 14px;
}

.status-paga {
  border-radius: 8px;
  color: #1fa7af ;
  background: #eef6f6;
  display: flex;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 19px;
  /* font-weight: 600; */
  font-size: 14px;
}
