.icon_user {
  width: 48px;
  height: 48px;
  background-color: #dedee9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  position: relative;
  display: flex;
  width: calc(90vw - 20px);
  height: 72px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #ACD9C5;
  margin: 54px 0px 0px 150px;
  padding: 0px 100px 20px 60px;
}

.header__options {
  display: flex;
  width: 150.656px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  color: #0e8750;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__title--home {
  color: #343447;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 33.8px */
}
.header__title--client {
  color: #0e8750;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 45px 0px 0px 40px;
}
.header__title--charge {
  color: #0e8750;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 45px 0px 0px 40px;
}
