.icon_user {
  width: 48px;
  height: 48px;
  background-color: #dedee9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  position: relative;
  display: flex;
  width: calc(90vw - 20px);
  height: 72px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #acd9c5;
  margin: 54px 0px 0px 150px;
  padding: 0px 100px 20px 60px;
}

.header__options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  color: #0e8750;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__title--home {
  color: #343447;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; 
}
.header__title--client {
  color: #0e8750;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  margin: 45px 0px 0px 40px;
}
.header__title--charge {
  color: #0e8750;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  margin: 45px 0px 0px 40px;
}
.header__subtitle {
  color:#747488;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 45.3px;
}
.header__first-group{
  display: flex;
  gap: 20px;

}
.user__options {
  position: absolute;
  width: 92px;
  height: 59px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  right: 40px;
  top: 50px;
  filter: drop-shadow(0px 4px 42px rgba(0, 0, 0, 0.3));
  display: none;
  z-index: 1;
  cursor: pointer;
}
.visible {
  display: flex;
}
.user__name {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.polygon__header {
  width: 19px;
  height: 8.25px;
  flex-shrink: 0;
  position: absolute;
  background-color: #fff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  left: 10px;
  top: -8px;
}

.user__options img:hover {
  background-color: #f0f0f5b2;
  border-radius: 5px;
}

