:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  overflow-x: hidden;
  background-color: #f8f8f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-app {
  width: 100vw;
  height: 100vh;

  position: relative;
  background-color: #f8f8f9;
}

.container-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
  position: absolute;
  top: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background: #919a966c;
}

.container-modal::-webkit-scrollbar {
  display: none;
}

#close-btn {
  position: absolute;

  top: -30%;
  right: -9%;

  width: 32px;
  height: 30px;

  cursor: pointer;
}

#close-btn:hover {
  transform: scale(1.1);
}
